/* CopyRight ©2022 by Prasad Ashok Chavan
Licensed To Prasadchavan2022 Apache@2022 */
*{
    margin: 0;
    padding: 0;
}
body{
    background: url("int.png") no-repeat center center fixed;
    background-size: cover;
}
.container{
    /* border: 6px solid black; */
    position: absolute;
    top: 15%;
    left: 15%;
    /* background-color: #d7d7d7; */
}
.container h1{
    font-family: Montserrat;
    font-size: 40px;
    color: #4c2b1a;
    width: 58%;
    letter-spacing: 1px;
    border-bottom: 4px solid #fb8d75;
    margin-bottom: 53px;
    padding-bottom: 9px;
}
.container h2{
    font-family: Montserrat;
    color: #4c2b1a;
    width: 42%;
    font-size: 38px;
    border-bottom: 2px solid #fb8d75;
    margin-bottom: 35px;
    padding-bottom: 5px;
}
.box{
    width: 100%;
    border-bottom: 2px solid #fb8d75;
    margin: 34px 0px;
    /* border: 2px solid green; */
}
.box input{
    background: none;
    width: 75%;
    border: none;
    outline: none;
    /* margin: 16px 0px; */
    font-size: 20px;
    padding: 5px 10x;
}
.box:hover{
    border-bottom: solid #4c2b1a;
}
#btn{
    font-family: Montserrat;
    font-size: 18px;
    background: none;
    color: #4c2b1a;
    cursor: pointer;
    outline: none;
    width: 28%;
    font-weight: 700;
    margin: 6px 0;
    letter-spacing: 1px;
    padding: 10px;
    border: 2px solid #4c2b1a;;
    border-radius: 20px;
}
#btn:hover{
    color: #f5f4f0;
    opacity: 1.0;
    font-family: Montserrat;
    background-color: #4c2b1a;
}
.box i{
    width: 25px;
    color: #4c2b1a;
    text-align: center;
    padding-bottom: 6px;
    /* padding: 12px; */
    /* padding: 0px 12px; */
}
